.font-small-1 {
  font-size: 9px;
}
.font-small-2 {
  font-size: 11px;
}
.font-small-3 {
  font-size: 13px;
}
.font-medium-1 {
  font-size: 15px;
}
.font-medium-2 {
  font-size: 17px;
}
.font-medium-3 {
  font-size: 19px;
}
.text-primary {
  color: $primary !important;
}
.text-black {
  color: #000 !important;
}
.font-weight-600 {
  font-weight: 600;
}
.bg-primary {
  background-color: $primary;
}
.mr-05 {
  margin-right: 5px;
}
.ml-05 {
  margin-left: 5px;
}
